/* Reset some default browser styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Set body background and font styles */
body {
  font-family: "Montserrat", sans-serif;
  background-color: #f6f6f6;
  color: #333333;
}

@media (max-width: 615px) {
  .portofolio--container {
    width: fit-content;
  }
}

/* Set header styles */
header {
  background-color: #212121;
  color: #f6f6f6;
  padding: 30px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1;
}

nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

nav ul li a {
  color: #f6f6f6;
  text-decoration: none;
  font-size: 1.1rem;
  padding: 15px;
  transition: color 0.2s ease-in-out;
}

nav ul li a:hover {
  color: #e91e63;
  background-color: whitesmoke;
}

nav ul li a.active {
  color: #e91e63;
  background-color: whitesmoke;
}

/* Set main section styles */
section {
  padding: 100px 50px;
  margin: 50px 0;
  background-color: #f6f6f6;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

section h2 {
  font-size: 2.5rem;
  margin-bottom: 40px;
  text-align: center;
}

section p {
  font-size: 1.2rem;
  line-height: 1.5rem;
  margin-bottom: 40px;
}

section ul li {
  margin: 20px 0;
}

section ul li:first-child {
  margin-top: 0;
}

section ul li:last-child {
  margin-bottom: 0;
}

/* Set project styles */
section#projects ul li {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid #cccccc;
  padding: 40px;
  border-radius: 5px;
  transition: transform 0.3s ease;
}

section#projects ul li:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

section#projects ul li h3 {
  font-size: 1.8rem;
  margin-bottom: 20px;
  text-align: center;
}

section#projects ul li p {
  margin-bottom: 20px;
  font-size: 1.2rem;
}

section#projects ul li a {
  color: #333333;
  text-decoration: none;
  font-weight: 600;
  transition: color 0.2s ease-in-out;
}

section#projects ul li a:hover {
  color: #e91e63;
}

/* Set form styles */
section#contact form {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: 0 auto;
}

section#contact form label {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

section#contact form input,
section#contact form textarea {
  padding: 15px;
  margin-bottom: 30px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  font-size: 1.2rem;
}

section#contact form textarea {
  resize: none;
  height: 200px;
}

section#contact form button[type="submit"] {
  background-color: #e91e63;
  color: #f6f6f6;
  border: none;
  padding: 15px 30px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

section#contact form button[type="submit"]:hover {
  background-color: #333333;
}

/* Set footer styles */
footer {
  background-color: #333333;
  color: #f6f6f6;
  padding: 30px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer p {
  font-size: 1.2rem;
}

footer ul {
  list-style: none;
  display: flex;
  align-items: center;
}

footer ul li a {
  color: #f6f6f6;
  text-decoration: none;
  font-size: 1.1rem;
  padding: 15px;
  transition: color 0.2s ease-in-out;
}

footer ul li a:hover {
  color: #e91e63;
}

i {
  font-size: 100px;
}

.tools--icons {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.certification--container a {
  text-decoration: none;
  color: rgb(189, 123, 1);
}

.certification--container img {
  height: 100px;
  border-radius: 10px;
  box-shadow: 10px 5px 11px rgb(128, 108, 108);
}

.cert--link:hover {
  transform: scale(1.1);
  transition: 0.7s ease-in-out;
}

.certification--container h3 {
  margin-top: 20px;
  margin-bottom: 5px;
  font-family: "Roboto", sans-serif;
}

.theodinproject {
  margin-top: 10px;
  margin-left: -18px;
}

section h2 {
  font-family: "Montserrat", sans-serif;
}

li {
  font-family: "Open Sans", sans-serif;
}

.tools--icons p {
  font-size: 14px;
  margin-top: 5px;
  margin-left: 15px;
  display: flex;
  align-items: center;
}

.tools--icons {
  margin-top: 10px;
}

#skills li {
  font-size: 20px;
  font-family: "Lato", sans-serif;
}

.soft--skills li {
  font-family: "Montserrat", sans-serif !important;
  border-radius: 5px;
}

#projects img {
  width: 20%;
  /* margin-left: 40%; */
  border: 1px solid rgb(219, 219, 219);
  border-radius: 5px;
}
